
.container {
    margin: 0 auto;
    width: 100%;
}

.gamefield {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

}

#charset {
    display: flex;
    flex-direction: row nowrap;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    border: 1 px dotted black;

}

.charWrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    z-index: 2;
    object-fit: fill;
    position: relative;
    margin: .5rem;
    border: 1px solid black;
}

.character {
    height: 175px;
    padding: .25rem;
}

.hp {
    width: 100%;
    color: black;
    background-color: white;
    opacity: 80%;
    height: 1.5rem;
    padding-bottom: .5rem;
    margin: .1rem, 0rem;
    text-align: center;
    vertical-align: middle;
    z-index: 1;
    position: absolute;
    border-top: 1px solid black;
}

.message {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

#battlefield {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 2rem;
    border: 1 px dotted black;
}